<head>
    <meta charset="UTF-8">
    <title>Guardado exitoso</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--Barra de busqueda -->
</head>

<body>
<div class="container  g-2 p-2 d-flex justify-content-center  align-items-center">
    <div class="card w-75 shadow-sm g-2 p-2 ">
        <div class="jumbotron">
            <h1 class="display-4">Guardado exitoso</h1>
            <p class="lead">El articulo se guardó de manera correcta.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Salir</a>
                <a class="btn btn-primary btn-lg" href="/articulos/new-articulo" role="button">Nuevo Articulo</a>
            </p>
        </div>
</div>

</div>

</body>
