{{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{text}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/each}}

<head>
    <meta charset="UTF-8">
    <title>Agregar Articulo</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--Barra de busqueda -->
</head>

<body>
    <div class="container g-2 p-2 d-flex justify-content-center  align-items-center" >
        <div class="card w-75 shadow-sm"  >
            <div class="row g-2 p-2">
                <h2>Agregar un nuevo articulo</h2>
            </div>
            <div class="row g-2 p-2" >

                <div class="col">
                    <div class="mb-3">
                        <label for="Nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="Precio" class="form-label">Precio</label>
                        <input type="text" class="form-control" name="precio" placeholder="">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="Descripción" class="form-label">Descripción</label>
                        <input type="text" class="form-control" name="descripcion" placeholder="">
                    </div>

                    <div class="mb-3">
                        <label for="Marca" class="form-label">Marca</label>
                        <input type="text" class="form-control" name="marca" placeholder="">
                    </div>

                </div>
                <div class="d-flex flex-row justify-content-end" action="/articulos/ArticuloGuardado"  method="POST" novalidate>
                    <button class="btn btn-primary d-flex justify-content-start " type="submit">Guardar</button>
                </div>
            </div>
        </div>

    </div>
</body>

