
<div class="container">

    <div class="row g-2 p-2">
        <div class="col">
            <div class="card mb-3" >
                <div class="row g-0">
                    <div class="col">
                        <img src="../{{producto.imagen}}" class="card-img-top w-75" alt="...">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">{{producto.nombre}}</h5>
                            <p class="card-text">{{producto.descripcion}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{producto.precio}}</li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-outline-primary">Añadir al carrito</button>
                            <button type="button" class="btn btn-outline-secondary">Añadir a lista de deseo</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <img src="../../img/PC-GAMER-WOLF.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="row align-content-center">
        <h3>Articulos relacionados</h3>
        <div class="col ">
            <div class="card-group align-content-center">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="../../img/ryzen.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MXN$5,273.35</h5>
                            <p class="card-text">AMD RYZEN 5 3600 6-Core 3.6 GHz (4.2 GHz Max Boost) Socket AM4 65W 100-100000031BOX Desktop Processor</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="../../img/asus.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MXN$15,679.71 </h5>
                            <p class="card-text">ASUS VivoBook 14 Laptop, 14" FHD, AMD Ryzen 7-3700U, AMD Radeon RX Vega 10 Graphics, 8 GB DDR4 RAM</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="../../img/corsair.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MXN$4,056.51</h5>
                            <p class="card-text">CORSAIR Hydro Series, H115i RGB PLATINUM, 280mm, 2 x ML PRO 140mm RGB PWM Fans, RGB Lighting & Fan Control w/ Software, Liquid CPU Cooler</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>