<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EVOTECH - Tu tienda en linea favorita 游녨</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <!--Barra de busqueda -->
</head>
<body>
<div class="container">

    <div class="row g-2 p-2">
        <div class="col-auto">
            <div class="btn-group-vertical">
                <div class="btn align-content-center">
                    Categor칤as
                </div>
                <div class="btn-group dropend ">
                    <button type="button" class="btn btn-light  text-md-start w-75">
                        Accesorios
                    </button>
                    <button type="button" class="btn  btn-secondary  dropdown-toggle dropdown-toggle-split"  data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropright</span>
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="#">Mouse</a>
                        <a class="dropdown-item" href="#">Teclado</a>
                        <a class="dropdown-item" href="#">Cables</a>
                        <a class="dropdown-item" href="#">Soportes</a>
                        <a class="dropdown-item" href="#">Sillas</a>
                        <a class="dropdown-item" href="#">C치maras Web</a>
                        <a class="dropdown-item" href="#">Reposamu침ecas</a>
                        <a class="dropdown-item" href="#">USB</a>
                        <a class="dropdown-item" href="#">Ver Todo</a>

                    </ul>
                </div>


                <div class="btn-group dropend">
                    <button type="button" class="btn btn-light text-md-start w-75">
                        Computadoras
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropright</span>
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="#">Escritorio</a>
                        <a class="dropdown-item" href="#">Laptops</a>
                        <a class="dropdown-item" href="#">Servidores</a>
                        <a class="dropdown-item" href="#">Tablets</a>
                        <a class="dropdown-item" href="#">Ver Todo</a>
                    </ul>
                </div>

                <div class="btn-group dropend">
                    <button type="button" class="btn btn-light text-md-start w-75">
                        Componentes
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropright</span>
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="#">Procesadores</a>
                        <a class="dropdown-item" href="#">Trajetas Graficas</a>
                        <a class="dropdown-item" href="#">RAM</a>
                        <a class="dropdown-item" href="#">Discos Duros</a>
                        <a class="dropdown-item" href="#">Unidades de Estado Solido</a>
                        <a class="dropdown-item" href="#">Ventiladores</a>
                        <a class="dropdown-item" href="#">Disipadores</a>
                        <a class="dropdown-item" href="#">Refrigeraci칩n Liquida</a>
                        <a class="dropdown-item" href="#">Fuentes de Poder</a>
                        <a class="dropdown-item" href="#">Tarjeta Madre</a>
                        <a class="dropdown-item" href="#">Tarjetas PCI</a>
                        <a class="dropdown-item" href="#">Ver Todo</a>
                    </ul>
                </div>

                <div class="btn-group dropend">
                    <button type="button" class="btn btn-light text-md-start w-75">
                        Impresi칩n
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropright</span>
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="#">Impresoras</a>
                        <a class="dropdown-item" href="#">Multifuncionales</a>
                        <a class="dropdown-item" href="#">Ticket</a>
                        <a class="dropdown-item" href="#">Consumibles</a>
                        <a class="dropdown-item" href="#">Ver Todo</a>
                    </ul>
                </div>

                <div class="btn-group dropend">
                    <button type="button" class="btn btn-light text-md-start w-75">
                        Software
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropright</span>
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="#">Sistemas Operativos</a>
                        <a class="dropdown-item" href="#">Antivirus</a>
                        <a class="dropdown-item" href="#">Ofimatica</a>
                        <a class="dropdown-item" href="#">Ver Todo</a>
                    </ul>
                </div>

                <div class="btn-group dropend">
                    <button type="button" class="btn btn-light text-md-start w-75">
                        Redes
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropright</span>
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="#">Access Point</a>
                        <a class="dropdown-item" href="#">Antenas</a>
                        <a class="dropdown-item" href="#">Cables</a>
                        <a class="dropdown-item" href="#">Switch</a>
                        <a class="dropdown-item" href="#">Tarjetas de Red</a>
                        <a class="dropdown-item" href="#">Router</a>
                        <a class="dropdown-item" href="#">Ver Todo</a>
                    </ul>
                </div>

                <div class="btn-group dropend">
                    <button type="button" class="btn btn-light text-md-start w-75">
                        Seguridad
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropright</span>
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="#">C치maras y Sistemas de Vigilancia</a>
                        <a class="dropdown-item" href="#">Sistemas de Alarma</a>
                        <a class="dropdown-item" href="#">Sistemas de Acceso</a>
                        <a class="dropdown-item" href="#">Ver Todo</a>
                    </ul>
                </div>

                <div class="btn-group dropend">
                    <button type="button" class="btn btn-light text-md-start w-75">
                        Apple
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropright</span>
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="#">Mac</a>
                        <a class="dropdown-item" href="#">iPad</a>
                        <a class="dropdown-item" href="#">iPhone</a>
                        <a class="dropdown-item" href="#">Apple TV</a>
                        <a class="dropdown-item" href="#">Apple iWatch</a>
                        <a class="dropdown-item" href="#">Ver Todo</a>
                    </ul>
                </div>

                <div class="btn-group dropend">
                    <button type="button" class="btn btn-light text-md-start w-75">
                        Celulares
                    </button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropright</span>
                    </button>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="#">Ver Todo</a>
                    </ul>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="card mb-3" >
                <div class="row g-0">
                    <div class="col">
                        <img src="../../img/pc.jpg" class="card-img-top w-75" alt="...">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">Computadora Gamer</h5>
                            <p class="card-text">Computadora Gamer / GeForce RTX 2080 8GB / INTEL i7-9700 / 16GB RAM / 500GB SSD M.2 / PC GAMER WOLF</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">$45,999.00</li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-outline-primary">A침adir al carrito</button>
                            <button type="button" class="btn btn-outline-secondary">A침adir a lista de deseo</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <img src="../../img/PC-GAMER-WOLF.jpg">
                </div>
            </div>
        </div>
    </div>
    <div class="row align-content-center">
        <h3>Articulos relacionados</h3>
        <div class="col ">
            <div class="card-group align-content-center">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="../../img/ryzen.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MXN$5,273.35</h5>
                            <p class="card-text">AMD RYZEN 5 3600 6-Core 3.6 GHz (4.2 GHz Max Boost) Socket AM4 65W 100-100000031BOX Desktop Processor</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="../../img/asus.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MXN$15,679.71 </h5>
                            <p class="card-text">ASUS VivoBook 14 Laptop, 14" FHD, AMD Ryzen 7-3700U, AMD Radeon RX Vega 10 Graphics, 8 GB DDR4 RAM</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="../../img/corsair.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MXN$4,056.51</h5>
                            <p class="card-text">CORSAIR Hydro Series, H115i RGB PLATINUM, 280mm, 2 x ML PRO 140mm RGB PWM Fans, RGB Lighting & Fan Control w/ Software, Liquid CPU Cooler</p>
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>