{{#each errors}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{text}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/each}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>EVOTECH - Tu tienda en linea favorita 👍</title>
</head>
<body>
<div class="container" align="aling-content-center">

    <div class="col-md-8">
        <h1> Dirección</h1>
        <div class="dropdown-divider"></div>
        <form class="row g-3 needs-validation" action="/direcciones/dir"  method="POST" novalidate>
            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Número exterior</label>
                <input type="text" class="form-control" name="numero" value="" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Calle</label>
                <input type="text" class="form-control" name="calle" value="" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Colonia</label>
                <input type="text" class="form-control" name="colonia" value="" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Código postal</label>
                <input type="text" class="form-control" name="cp" value="" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationCustom03" class="form-label">Ciudad</label>
                <input type="text" class="form-control" name="ciudad" required>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationCustom05" class="form-label">Estado</label>
                <input type="text" class="form-control" name="estado" required>
                <div class="invalid-feedback">
                    Please provide a valid state.
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </form>
    </div>
</div>
</body>
