<head>
    <title>
        INICIAR SESIÓN - EVOTECH
    </title>
</head>

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
</head>
<body>
<div class="container">
    <div class="col mx-auto">
        <div class="row  g-2 p-2">
            <h1> Iniciar Sesión</h1>
            <div class="dropdown-divider"></div>
            <form action = "/signin" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Dirección de correo</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa un correo" name="email">
                    <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="password">
                </div>

                <div class="link-dark">
                    <a class="text-start" href="/signup"> Registrarse</a>
                </div>
                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>